[Unit]
Description=Installing Flatpak applications
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/var/lib/arkane/flatpak-init.lock

[Service]
Type=simple
Restart=on-failure
RestartSec=15
RemainAfterExit=yes
ExecStart=/usr/bin/flatpak-init.py

[Install]
WantedBy=multi-user.target
