[Unit]
Description=Installing Flatpak applications
Before=display-manager.service
Wants=network-online.target
After=network-online.target
ConditionPathExists=!/var/lib/arkane/flatpak-init.lock

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/flatpak-init.py

[Install]
WantedBy=multi-user.target
